<!doctype html>
<html>
    <head>
        <style>
            .error {
                color:red
            }

            .no_error {
                color:green
            }
            .inform {
                color:yellowgreen
            }
        </style>
        
        <title>Your blog</title>
    </head>
<body>
    <div style='display:inline'>
        <a href = '/home'>Home Page</a> | <a href = "/blog">All Posts</a> | <a href = "/newpost">Add a Blog Entry</a>
    </div>
    <div style='float:right'>
        <a href='/logout'>Logout</a> | <a href='/signup'>Signup</a>
    </div>
    <br>
    <hr />

    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
        {% for category,message in messages %}
            <li class ="{{category}}">{{message}}</li>
        {% endfor %}
        </ul>
    {% endwith %}

    {% block content %}
    {% endblock %}

</body>
</html>