{% extends "base.html" %}

{% block content %}
<h1 style="text-align:center">Build your blog</h1>
<hr />
<!--JINJA SYNTAX TO DISPLAY EACH BLOG POST -->
{% if blogs|length == 0 %}
<p>No posts yet</p>

{% else %}

{% for blog in blogs %}
<a href="/blog?id={{blog.id}}"><h2><i>{{blog.title}}</i></h2></a>
<p>{{blog.body}}</p>
{% for user in users %}
    {% if user.id == blog.user_id %}
        <p class='written-by'>Written by <a href='/blog?user={{user.id}}'>{{user.username}}</a></p>
    {% endif %}    

{% endfor %}
<hr />
{% endfor %}

{% endif %}










{% endblock %}